/* CSS Document */

html {
	background-color:#F4F4F4;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
}

body {
	width:560px;
	border:1px solid rgb(158, 21, 21);
	margin:10px auto;
	background-color:#FFF;
	padding:10px 30px;
	border-radius:5px;
}

h1 {
	font-family:sans-serif;
	font-size:30px;
    font-style:bold;
	letter-spacing:-0.05em;
	color:rgb(150, 40, 40);
	margin:2px 0 15px;
	text-shadow:1px 1px 2px rgb(128, 128, 128);
}

input {
	display:block;
	margin-bottom:20px;
	border:1px solid #999;
	padding:8px;
    border-radius:3px;
}

input:focus {
	border:1px solid #ccc;
	outline:none;
}

input[type=submit] {
	width:100px;
	color:#FFF;
	background:linear-gradient(top, #F33, #933 );
	background:-webkit-linear-gradient(top, #F33, #933 );
	background:-moz-linear-gradient(top, #F33, #933 );
	border:1px solid #333;
	cursor:pointer;
}

table{
	width:400px;
	padding-bottom: 2px;
	padding-left:2px;
	padding-right:2px;
	padding-top:10px;
	color:#1C1C1C;
	font-style:italic;
}
